*{
    margin:0;
    padding:0;
    font-family: Assistant,system-ui, -apple-system,
     BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, 
     Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   box-sizing: border-box;
}
header {
   display:flex; 
   background-color:#ffffff;
   height: 80px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #b6b1b1;
}
.myntra_home {
height: 45px;
}
.logo_container{
    margin-left:4%;

}
.action_bar{
   margin-right: 4%;
}
.nav_bar {
    display: flex;
    justify-content: space-between;
    min-width: 500px;
}
.nav_bar a{
    font-size:14px;
    letter-spacing:.3px;
    color: #282c3f;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    padding:28px 0;
     
}
.nav_bar a:hover {
  border-bottom: 2px solid #f54e77;
}
.nav_bar a sup {
    color: #ff3f6c;
    font-size: 10px;
} 
.search_bar {
  display: flex;
  align-items: center;
  width: 30%;
  min-width: 200px;
  height: 40px;
  background-color: #f5f5f6;
  border-radius: 4px;
}


.search_icon {
  font-size: 20px;
  color: #a0a4b2;
  padding: 0 12px;
}


.search_input {
  flex: 1;
  height: 100%;
  border: none;
  outline: none;
  background-color: #f5f5f6;
  font-size: 14px;
  color: #282c3f;
}


.search_input::placeholder {
  color: #a0a4b2;
}


.search_bar:focus-within {
  background-color: #ffffff;
  border: 1px solid #d4d5d9;
}



.action_bar {
  display: flex;
  gap: 24px;
  margin-right: 40px;
}

.action_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  color: #282c3f;
}

.action_item i {
  font-size: 24px;
}

.action_item span {
  font-size: 12px;
  font-weight: 600;
}

.action_item:hover {
  color: #ff3f6c;
}
/*Banner Section*/
.bannner_container {   
    margin-top: 40px 0 ;
}
.banner_image{
    width: 100%;


}
.category_heading{

  text-transform: uppercase;
  color: #3e4152;
  letter-spacing: .15em;
  font-size: 1.8em;
  margin: 50px 0 10px 30px;
  max-height: 5em;
  font-weight:700;
}
.category_items{
display:flex;
flex-wrap: wrap;
justify-content: space-evenly;

}
.sale.item{
  width:250px;

}
.footer_container{
  padding: 30px 0px 40px 0px;
  background: #fafbfc;
  display: flex;
  justify-content: space-evenly;

}
.footer_column{
  display: flex;
  flex-direction: column;
}
.footer_column a{
  color:#696b79;
  font-size: 15px;
  text-decoration: none;
  padding-bottom: 5px;
}
.footer_column h3{
  color: #282c3f;
  font-size: 14px;
  margin-bottom:25px;

}
.copyright{
  color:#94969f;
  text-align: end;
  padding:15px;
  

}
